
@{
    ViewData["Title"] = "Experts";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
    @model List<ExpertsViewModel>
}

    <div class="row">
        <div class="col-3">
            <ul class="nav nav-tabs flex-column">
                @foreach (var x in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#@x.SectionId">@x.DirectionName</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-9">
            <div class="tab-content">
            <h2 style="text-align: center;">Эксперты</h2>
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="tab-pane fade" id="@Model[i].SectionId">
                    @using (Html.BeginForm("SetExpert", "Admin", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col">
                                <select class="form-control" name="UserId" chosen>
                                    @foreach (var x in Model[i].Users)
                                    {
                                        <option value="@x.UserId">@x.UserName</option>
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Назначить Экспертом</button>
                            </div>
                        </div>
                    }
                    <ul>
                        @foreach (var x in Model[i].ExpertsId)
                        {
                            <li class="form-inline">
                                @await Component.InvokeAsync("AccountLink", new { UserId = x })
                                @using (Html.BeginForm("CancelExpert", "Admin", FormMethod.Post))
                                {
                                    <input type="hidden" name="ExpertId" value="@x" />
                                    <button type="submit" class="btn btm-small" title="Убрать из Экспертов">
                                        <i class="fas fa-times"></i>
                                    </button>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }
            </div>
        </div>
    </div>

