
@{
    ViewData["Title"] = "IdeaMenu";
    @model IdeasOwnViewModel
}

<h1>Мои идеи</h1>

<form>
    <div class=" row">
        <div class="col-2">
            <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#Drafts">Черновики </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#Reviews">На модерации</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#Approves">Утвержденные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#Rejects">Отклоненные</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Drafts">
                    <ul class="ideas clearfix">
                        @foreach (var x in Model.Drafts)
                        {
                            <li class="idea-wrapper">
                                <div class="idea">
                                    @await Component.InvokeAsync("IdeaCard", new { vm = x })

                                    @using (Html.BeginForm("Edit", "Idea", FormMethod.Get))
                                    {
                                        <input type="hidden" name="IdIdea" value="@x.Id" />
                                        <button class="btn btn-primary idea-btn-public" type="submit">
                                            Редактировать
                                        </button>
                                    }

                                    @using (Html.BeginForm("Delete", "Idea", FormMethod.Get))
                                    {
                                        <input type="hidden" name="IdIdea" value="@x.Id" />
                                        <button class="btn btn-primary idea-btn-public" type="submit">
                                            Удалить
                                        </button>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="tab-pane fade" id="Reviews">
                    <ul class="ideas clearfix">
                        @foreach (var x in Model.Reviews)
                        {
                            <li class="idea-wrapper">
                                <div class="idea">
                                    @await Component.InvokeAsync("IdeaCard", new { vm = x })
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="tab-pane fade" id="Approves">
                    <ul class="ideas clearfix">
                        @foreach (var x in Model.Approves)
                        {
                            <li class="idea-wrapper">
                                <div class="idea">
                                    @await Component.InvokeAsync("IdeaCard", new { vm = x })

                                    @using (Html.BeginForm("Edit", "Project", FormMethod.Get))
                                    {
                                        <input type="hidden" name="IdIdea" value="@x.Id" />
                                        <button class="btn btn-primary idea-btn-public" type="submit">
                                            Опубликовать проект
                                        </button>
                                    }

                                    @using (Html.BeginForm("Delete", "Idea", FormMethod.Get))
                                    {
                                        <input type="hidden" name="IdIdea" value="@x.Id" />
                                        <button class="btn btn-primary idea-btn-public" type="submit">
                                            Удалить
                                        </button>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="tab-pane fade" id="Rejects">
                    <ul class="ideas clearfix">
                        @foreach (var x in Model.Rejects)
                        {
                            <li class="idea-wrapper">
                                <div class="idea">
                                    @await Component.InvokeAsync("IdeaCard", new { vm = x })

                                    @using (Html.BeginForm("Delete", "Idea", FormMethod.Get))
                                    {
                                        <input type="hidden" name="IdIdea" value="@x.Id" />
                                        <button class="btn btn-primary idea-btn-public" type="submit">
                                            Удалить
                                        </button>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    form {
        background-color: rgba(194, 223, 255, 0.81);
    }
</style>

