
@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model ProjectBrowseViewModel
}

<div class="background">
    <div class="row">
        <div class="col-2">
            <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#generalinform">Общая информация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#studyinform">Информация об исследовании</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#participants">Участники</a>
                </li>
                @foreach (var x in Model.Sections)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#@x.SectionId" title="@x.SectionType">@x.Name</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#comments">Комментарии</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="generalinform">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <input asp-for="Id" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Name"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Name" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="ManagerId"></label>
                            </div>
                            <div class="col-9">
                                @await  Component.InvokeAsync("AccountLink", new { UserId = Model.ManagerId })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="ProjectType"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="ProjectType" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="AuthorIdeaId"></label>
                            </div>
                            <div class="col-9">
                                @await  Component.InvokeAsync("AccountLink", new { UserId = Model.AuthorIdeaId })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Description"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Description" class="form-control" readonly />
                            </div>
                        </div>
                        @if (Model.Image != null)
                        {
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Image"></label>
                            </div>
                            <div class="col-9">
                                <img src="@Url.Action("GetFile", "Project", new { id = Model.Image.Id, type = Model.Image.Type })" style="width:300px;height:200px;" />
                            </div>
                        </div>
                        }
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Video"></label>
                            </div>
                            <div class="col-9">
                                <a href="@Model.Video" target="_blank">@Model.Video</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Start"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Start" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Finish"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Finish" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="studyinform">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Direction"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Direction" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Target"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Target" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Purpose"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Purpose" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Equipment"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Equipment" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Safety"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Safety" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="participants">
                    @foreach (var x in Model.ParticipantsId)
                    {
                        @await Component.InvokeAsync("AccountLink", new { UserId = x})
                    }
                </div>

                @for(int i = 0; i < Model.Sections.Count; i++)
                {
                    <div class="tab-pane fade" id="@Model.Sections[i].SectionId">
                        <form asp-controller="Project" asp-action="Fill" method="get">
                            <input type="hidden" name="ProjectId" value="@Model.Id" />
                            <input type="hidden" name="SectionNum" value="@i" />
                            <button type="submit" class="btn btn-primary">Загрузить данные</button>
                        </form>
                        <div class="container">
                            @for (var j=0; j < Model.Sections[i].Answears.Count; j++)
                            {
                                <div class="row">
                                    <div class="col-4">
                                        @await Component.InvokeAsync("AccountLink", new { UserId = Model.Sections[i].Answears[j].AuthorId })
                                    </div>
                                    <div class="col-4">
                                        @Html.ActionLink("Просмотреть ответ", "BrowseAnswear", "Project", new { ProjectId = Model.Id, SectionNum = i, AnswearNum = j}, null)
                                    </div>
                                    <div class="col-4">
                                        @Model.Sections[i].Answears[j].Date
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

                <div class="tab-pane fade" id="comments">

                </div>
            </div>
        </div>
    </div>
</div>

