
@{
    ViewData["Title"] = "Просмотр проекта";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model ProjectBrowseViewModel
}

<div class="background">
    <div class="row">
        <div class="col-2">
            <ul class="nav nav-tabs flex-column">
                @if (Model.IsManager && Model.IsWork)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#managment">Управление проектом</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#generalinform">Общая информация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#studyinform">Информация об исследовании</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#participants">Участники</a>
                </li>
                @foreach (var x in Model.Sections)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#@x.SectionId" title="@x.SectionType">@x.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-10">
            <div class="tab-content">
                @if (Model.IsManager && Model.IsWork)
                {
                <div class="tab-pane fade" id="managment">
                    @using (Html.BeginForm("Finish", "Project", FormMethod.Post))
                    {
                        <input type="hidden" name="ProjectId" value="@Model.Id" />
                        <div class="row">
                            <div class="col">
                                <label style="background-color:lightgray;">Для того чтобы завершить проект, Вам необходимо заполнить все разделы типа "Раздел итоговых результатов". Завершенный проект открытого и закрытого типа будет доступен в разделе "Архив проектов" основного меню.</label>
                            </div>
                            <div class="col">
                                @if (Model.IsFinish)
                                {
                                    <button type="submit" class="btn btn-primary">Завершить проект</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary" disabled>Завершить проект</button>
                                }
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("Cancel", "Project", FormMethod.Post))
                    {
                        <input type="hidden" name="ProjectId" value="@Model.Id" />
                        <div class="row">
                            <div class="col">
                                <label style="background-color:lightgray;">Вы можете в любой момент отменить проект. Он будет доступен только участникам проекта в разделе "Отмененные"</label>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Отменить проект</button>
                            </div>
                        </div>
                    }
                    @if (Model.IdeaType == IdeaTypesNames.Open)
                    {
                        @using (Html.BeginForm("ChangeType", "Project", FormMethod.Post))
                        {
                            <input type="hidden" name="ProjectId" value="@Model.Id" />
                            <div class="row">
                                <div class="col">
                                    <select name="ProjectTypeId" id="selectProjectTypes" class="form-control"></select>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Установить тип проекта</button>
                                </div>
                            </div>
                        }
                    }
                </div>
                }

                <div class="tab-pane fade show active" id="generalinform">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <input asp-for="Id" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Name"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Name" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="ManagerId"></label>
                            </div>
                            <div class="col-9">
                                @await Component.InvokeAsync("AccountLink", new { UserId = Model.ManagerId })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="ProjectType"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="ProjectType" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="AuthorIdeaId"></label>
                            </div>
                            <div class="col-9">
                                @await Component.InvokeAsync("AccountLink", new { UserId = Model.AuthorIdeaId })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Description"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Description" class="form-control" readonly />
                            </div>
                        </div>
                        @if (Model.Image != null)
                        {
                            <div class="row">
                                <div class="col-3">
                                    <label asp-for="Image"></label>
                                </div>
                                <div class="col-9">
                                    <img src="@Url.Action("GetFile", "Project", new { id = Model.Image.Id, type = Model.Image.Type })" style="width:300px;height:200px;" />
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Video"></label>
                            </div>
                            <div class="col-9">
                                <a href="@Model.Video" target="_blank">@Model.Video</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Start"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Start" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Finish"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Finish" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="studyinform">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Direction"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Direction" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Target"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Target" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Purpose"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Purpose" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Equipment"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Equipment" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="Safety"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Safety" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="participants">
                    @if (Model.IsManager && Model.IsWork)
                    {
                        @using (Html.BeginForm("AddParticipant", "Project", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col">
                                    <input type="hidden" name="ProjectId" value="@Model.Id" />
                                    <select class="form-control" id="selectAddParts" name="UserId"></select>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Добавить участника</button>
                                </div>
                            </div>
                        }
                    }
                    <h2>Список участников:</h2>
                    <ul>
                        @foreach (var x in Model.ParticipantsId)
                        {
                            <li>
                                @await Component.InvokeAsync("AccountLink", new { UserId = x })
                            </li>
                        }
                    </ul>
                </div>

                @for (int i = 0; i < Model.Sections.Count; i++)
                {
            <div class="tab-pane fade" id="@Model.Sections[i].SectionId">
                    <label style="background-color:lightgray;">@Model.Sections[i].Description</label>
                    @if (Model.IsWork && Model.Sections[i].isFill)
                    {
                        <form asp-controller="Project" asp-action="Fill"  method="get">
                            <input type="hidden" name="ProjectId" value="@Model.Id" />
                            <input type="hidden" name="SectionNum" value="@i" />
                            <button type="submit" class="btn btn-primary">Загрузить данные</button>
                        </form>
                    }
                    <div class="container">
                        @for (var j = 0; j < Model.Sections[i].Answears.Count; j++)
                        {
                            <div class="row">
                                <div class="col-4">
                                    @await Component.InvokeAsync("AccountLink", new { UserId = Model.Sections[i].Answears[j].AuthorId })
                                </div>
                                <div class="col-4">
                                    @Html.ActionLink("Просмотреть ответ", "BrowseAnswear", "Project", new { ProjectId = Model.Id, SectionNum = i, AnswearNum = j }, null)
                                </div>
                                <div class="col-4">
                                    @Model.Sections[i].Answears[j].Date
                                </div>
                            </div>
                        }
                    </div>
            </div>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .chosen-container{
        min-width: 400px;
        font-size: 18px;
    }
    span{
        color: black;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        
        var ListUsers = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["ListUsers"]));
        var ListProjectTypes = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["ListProjectTypes"]));
        
        function loadListUsers() { 
            var str = '';
            ListUsers.forEach(function (item) {
                str += '<option value="' + item.UserId + '">' + item.Name + '</option > ';
            });
            return str;
        }

        function loadListProjectTypes() { 
            var str = '';
            ListProjectTypes.forEach(function (item) {
                str += '<option value="' + item.Id + '">' + item.Name + '</option > ';
            });
            return str;
        }

        (function () {
            $('#selectAddParts').append(loadListUsers());
            $('#selectAddParts').chosen();
            $('#selectProjectTypes').append(loadListProjectTypes());
        })();
    </script>
}

