
@{
    ViewData["Title"] = "Fill";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model AnswearBrowseProjectViewModel
}

<div class="background">
    <form asp-action="Fill" asp-controller="Project" method="post">
        <div class="container">
            <input type="hidden" asp-for="ProjectId" />
            <input type="hidden" asp-for="SectionNum" />
            @for (var i = 0; i < Model.Components.Count; i++)
            {
                <div id="Component_@i">
                    <input type="hidden" asp-for="Components[i].Name" />
                    <input type="hidden" asp-for="Components[i].IsNecessary" />
                    <input type="hidden" asp-for="Components[i].Description" />
                    <input type="hidden" asp-for="Components[i].ComponentType"  />
                    <div class="row">
                        <div class="col-3">
                            <label>@Model.Components[i].Name</label>
                        </div>
                        <div class="col-8">
                            @if (Model.Components[i].ComponentType == "Текст") 
                            {
                                <input type="text" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" readonly/>
                            }
                            else if (Model.Components[i].ComponentType == "Сообщение")
                            {
                                <input type="text" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" />
                            }
                            else if (Model.Components[i].ComponentType == "Дата")
                            {
                                <input type="date" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" />
                            }
                            else if (Model.Components[i].ComponentType == "Время")
                            {
                                <input type="time" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" />
                            }
                            else if (Model.Components[i].ComponentType == "Число")
                            {
                                <input type="number" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" step="any"/>
                            }
                            else if (Model.Components[i].ComponentType == "Флаг")
                            {
                                <input type="checkbox" asp-for="Components[i].Flag" title="@Model.Components[i].Description" class="form-control" />
                            }
                            else if (Model.Components[i].ComponentType == "Файл")
                            {
                                <input type="file" asp-for="Components[i].File" title="@Model.Components[i].Description"class="form-control" />
                            }
                            else if (Model.Components[i].ComponentType == "Фото")
                            {
                                <input type="file" asp-for="Components[i].File" title="@Model.Components[i].Description" class="form-control" accept="image/*" id="Component_File_@i" onchange="loadImg(@i)"/>
                            }
                            else if (Model.Components[i].ComponentType == "Место")
                            {
                                <input type="text" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" />
                            }
                            else if (Model.Components[i].ComponentType == "Выбор")
                            {
                                <input type="text" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" />
                            }
                            else if (Model.Components[i].ComponentType == "Гиперссылка")
                            {
                                <input type="url" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" />
                            }
                        </div>
                    </div>
                </div>
            }
            <button type="submit" class="btn btn-primary">Загрузить</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        function loadImg(i) { // установить значение в чекбокс
            var imageId = 'Component_Img_' + i, divId = 'Component_' + i, btnId = 'Component_Btn_' + i, fileId = 'Component_File_' + i;
            var file = document.getElementById(fileId);
            $('#' + divId).append('<img id="' + imageId + '" src="' + URL.createObjectURL(file.files[0]) + '" style="width: 300px; height: 200px;" />');
            $('#' + divId).append('<button type="button" id="' + btnId + '" class="btn btn-sm btn-danger"><i class="fas fa-times"></i></button>');
            $('#' + btnId).on('click', function () {
                $('#' + imageId).remove();
                $('#' + btnId).remove();
                $('#' + fileId).val('');
            });
            //var image = document.getElementById('Component_Img_' + i);
            //image.src = URL.createObjectURL(file.files[0]);
            //image.style = 'width: 300px; height: 200px;';
        }
    </script>
}
