
@{
    ViewData["Title"] = "Fill";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model AnswearBrowseProjectViewModel
}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKnnWoLjXlIQJdIoSJasoMLr0FalKwCtw"></script>

<div class="background">
    <form asp-action="Fill" asp-controller="Project" method="post" enctype="multipart/form-data">
        <div class="container">
            <input type="hidden" asp-for="ProjectId" />
            <input type="hidden" asp-for="SectionNum" />
            @for (var i = 0; i < Model.Components.Count; i++)
            {
                <input type="hidden" asp-for="Components[i].Name" />
                <input type="hidden" asp-for="Components[i].IsNecessary" />
                <input type="hidden" asp-for="Components[i].Description" />
                <input type="hidden" asp-for="Components[i].ComponentType" />
                <div class="row">
                    <div class="col-2">
                        <label>@Model.Components[i].Name</label>
                    </div>
                    <div class="col-8">
                        @if (Model.Components[i].ComponentType == "Текст")
                        {
                            <input type="text" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" readonly />
                        }
                        else if (Model.Components[i].ComponentType == "Сообщение")
                        {
                            <input type="text" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" />
                        }
                        else if (Model.Components[i].ComponentType == "Дата")
                        {
                            <input type="date" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" />
                        }
                        else if (Model.Components[i].ComponentType == "Время")
                        {
                            <input type="time" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" />
                        }
                        else if (Model.Components[i].ComponentType == "Число")
                        {
                            <input type="number" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" step="any" />
                        }
                        else if (Model.Components[i].ComponentType == "Флаг")
                        {
                            <input type="checkbox" asp-for="Components[i].Flag" title="@Model.Components[i].Description" class="form-control" checked />
                        }
                        else if (Model.Components[i].ComponentType == "Файл")
                        {
                            <input type="file" asp-for="Components[i].File" title="@Model.Components[i].Description" class="form-control" />
                        }
                        else if (Model.Components[i].ComponentType == "Фото")
                        {
                            <div class="form-inline">
                                <div id="image_@i">
                                    <img id="Component_Img_@i" src="~/imgs/noimage.jpg" style="width: 200px; height: 200px;" />
                                </div>
                                <input type="file" asp-for="Components[i].File" title="@Model.Components[i].Description" class="form-control" accept="image/*" onchange="loadImg(@i)" />
                            </div>
                        }
                        else if (Model.Components[i].ComponentType == "Место")
                        {
                            <input type="hidden" asp-for="Components[i].Value" />
                            <div id="map_@i" style="width: 300px; height: 200px;" title="@Model.Components[i].Description">  </div>
                        }
                        else if (Model.Components[i].ComponentType == "Выбор")
                        {
                            @for (var j = 0; j < Model.Components[i].ListSelect.Count; j++)
                            {
                                <input type="hidden" asp-for="Components[i].ListSelect[j]" />
                                <p><input type="radio" asp-for="Components[i].Value" title="@Model.Components[i].Description" checked value="@Model.Components[i].ListSelect[j]" /> @Model.Components[i].ListSelect[j] </p>
                            }
                        }
                        else if (Model.Components[i].ComponentType == "Множественный выбор")
                        {
                            @for (var j = 0; j < Model.Components[i].ListSelect.Count; j++)
                            {
                                <input type="hidden" asp-for="Components[i].ListSelect[j]" />
                                <p><input type="checkbox" asp-for="Components[i].ListRes[j]" title="@Model.Components[i].Description" checked /> @Model.Components[i].ListSelect[j] </p>
                            }
                        }
                        else if (Model.Components[i].ComponentType == "Гиперссылка")
                        {
                            <input type="url" asp-for="Components[i].Value" title="@Model.Components[i].Description" class="form-control" />
                        }
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="Components[i]"></span>
                    </div>
                </div>
            }
            <button type="submit" class="btn btn-primary">Загрузить</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        var Maps;
        var Markers;

        function loadImg(i) {  // загрузить изображение
            var imageId = 'Component_Img_' + i, divId = 'image_' + i, btnId = 'Component_Btn_' + i, fileId = 'Components_' + i + '__File';
            var file = document.getElementById(fileId);
            $('#' + imageId).attr('src', URL.createObjectURL(file.files[0]));
            var str = '<button type="button" id="' + btnId + '" class="btn btn-sm btn-danger"><i class="fas fa-times"></i></button>';
            $('#' + divId).append(str);
            $('#' + btnId).on('click', function () {
                $('#' + imageId).attr('src', '/imgs/noimage.jpg');
                $('#' + btnId).remove();
                $('#' + fileId).val(null);
            });
        }

        function loadMap(i) {
            var myCenter = new google.maps.LatLng(51.508742, -0.120850);
            var mapCanvas = document.getElementById("map_" + i);
            var mapOptions = { center: myCenter, zoom: 5 };
            Maps[i] = new google.maps.Map(mapCanvas, mapOptions);
            Markers[i] = new google.maps.Marker({ position: myCenter });

            google.maps.event.addListener(Maps[i], 'click', function (event) {
                placeMarker(event.latLng, i);
            });
        }

        function placeMarker(position, i) {
            Markers[i].setMap(null);
            Markers[i] = new google.maps.Marker({
                position: position, 
                map: Maps[i]
            });
            Maps[i].panTo(position);
            $('#Components_' + i + '__Value').val(position);
        }

        (function () {
            var size = @Model.Components.Count;
            Maps = Array(size);
            Markers = Array(size);
            for (i = 0; i < size ; i++) {
                if (document.getElementById('map_' + i) != null) loadMap(i);
            }
        })();


    </script>

    
}
