
@{
    ViewData["Title"] = "Просмотр идеи";
    @model IdeaBrowseViewModel
}

    <div class="background">
        <div class="row">
            <div class="col-2">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#description">Описание</a>
                    </li>
                    @if (Model.Sections.Any())
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#template">Шаблон проекта</a>
                        </li>
                    }
                    @if (Model.ResolutionCards.Any())
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#resolutions">Резолюции</a>
                        </li>
                    }
                </ul>
            </div>

            <div class="col-10">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="description">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Name"></label>
                                </div>
                                <div class="col-sm-9">
                                    <textarea class="form-control" asp-for="Name" readonly></textarea>
                                </div>
                            </div>
                            @if (Model.Image != null)
                            {
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label asp-for="Image"></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <img src="@Url.Action("GetFile", "Idea", new { id = Model.Image.Id, type = Model.Image.Type })" style="width:300px;height:200px;" />
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Direction"></label>
                                </div>
                                <div class="col-sm-9">
                                    <textarea class="form-control" asp-for="Direction" readonly></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="AuthorId"></label>
                                </div>
                                <div class="col-sm-9">
                                    @await Component.InvokeAsync("AccountLink", new { UserId = Model.AuthorId })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Target"></label>
                                </div>
                                <div class="col-sm-9">
                                    <textarea class="form-control" asp-for="Target" readonly></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Purpose"></label>
                                </div>
                                <div class="col-sm-9">
                                    <textarea class="form-control" asp-for="Purpose" readonly></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Description"></label>
                                </div>
                                <div class="col-sm-9">
                                    <textarea class="form-control" asp-for="Description" readonly></textarea>
                                </div>
                            </div>
                            @if (Model.Video != null)
                            {
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label asp-for="Video"></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="@Model.Video" target="_blank">@Model.Video</a>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Equipment"></label>
                                </div>
                                <div class="col-sm-9">
                                    <textarea class="form-control" asp-for="Equipment" readonly></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Safety"></label>
                                </div>
                                <div class="col-sm-9">
                                    <textarea class="form-control" asp-for="Safety" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.Sections.Any())
                    {
                        <div class="tab-pane fade" id="template">
                            @foreach (var s in Model.Sections)
                            {
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p>@s.Name - @s.SectionType</p>
                                    </div>
                                    <div class="col-sm-9">
                                        @foreach (var c in s.Components)
                                        {
                                            <div class="row component align-items-center justify-content-between">
                                                <div class="col">
                                                    <input class="form-control" type="text" readonly value="@c.Type" title="Тип" />
                                                    <input class="form-control" type="text" readonly value="@c.Name" title="Название" />
                                                </div>
                                                <div class="col">
                                                    <textarea class="form-control" type="text" readonly title="Назначение">@c.Description</textarea>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <hr />
                            }
                        </div>
                    }

                    @if (Model.ResolutionCards.Any())
                    {
                        <div class="tab-pane fade" id="resolutions">
                            <ul class="cards clearfix">
                                @foreach (var x in Model.ResolutionCards)
                                {
                                    <li class="card-wrapper">
                                        <div class="card">
                                            @await Component.InvokeAsync("ResolutionCard", new { vm = x })
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>      
    </div>

