@{
    ViewData["Title"] = "Конструктор идеи";
    @model IdeaEditViewModel
}

@using (Html.BeginForm("Edit", "Idea", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-10">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#generalinform">Общая информация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#studyinform">Информация об исследовании</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#projecttemplate">Шаблон проекта</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="generalinform">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="selectType">Укажите тип идеи:</label>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" id="selectType" name="IdeaType">
                                    <option>Открытая</option>
                                    <option>Приватная</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="inputName">Название идеи:</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="inputName" name="Name" placeholder="Введите название" value="@Model.Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="inputDescription">Краткое описание:</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="inputDescription" name="Description" type="text" value="@Model.Description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="inputPhoto">Фото:</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="inputPhoto" name="Photo" type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="inputVideo">Видео:</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="inputVideo" name="Video" type="text" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="studyinform">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="selectListDirections">Выберите направленность идеи:</label>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" id="selectListDirections" name="IdDirection"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="inputTarget">Цель:</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="inputTarget" name="Target" type="text" value="@Model.Target" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="inputPurpose">Назначение:</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="inputPurpose" name="Purpose" type="text" value="@Model.Purpose" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="inputEquipment">Перечень оборудования и материалов:</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="inputEquipment" name="Equipment" type="text" value="@Model.Equipment" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="inputSafety">Техника безопасности:</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="inputSafety" name="Safety" type="text" value="@Model.Safety" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="projecttemplate">
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="nav nav-tabs flex-column" id="navSections"></ul>
                            <button class="btn btn-primary" type="button" id="btnAddSection">
                                <i class="fas fa-plus"></i>
                                Добавить раздел
                            </button>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="selectListComponents">Выберите тип компоненты:</label>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control" id="selectListComponents"></select>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-primary" id="btnAddComponent">Добавить</button>
                                </div>
                            </div>
                            <div class="tab-content" id="areaSections"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
}

<style>
    .component {
        border: 1px solid lightgrey;
        margin-top: 10px;
    }

    form {
        background-color: rgba(194, 223, 255, 0.81);
    }
</style>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        var indComp = 0;        // счетчик для компонент
        var indSection = 0;
        var currentSection = 0; // текущий открытый раздел
        var ListDirections = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["ListDirections"]));
        var ListComponents = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["ListComponents"]));

        function selectSection(num) { // функция вызывается при выборе раздела из навигационного меню
            currentSection = num;
        }

        function loadListDirections(id) { // инициализирует список направленностей
            var str = '';
            ListDirections.forEach(function (item) {
                if (item.Id == id)
                    str += '<option selected value="' + item.Id + '">' + item.Name + '</option > ';
                else
                    str += '<option value="' + item.Id + '">' + item.Name + '</option > ';
            });
            return str;
        }

        function loadListComponents() { // инициализирует список типов компонент
            var str = '';
            ListComponents.forEach(function (item) {
                str += '<option value="' + item + '">' + item + '</option > ';
            });
            return str;
        }

        function addComponent() { // добавляет компоненту на форму
            var typeComp = $('#selectListComponents').val(); // тип компоненты
            var idComp = 'component' + indComp;         // идентификатор компоненты
            var idBtnDel = 'btnDeleteComp' + indComp;   // идентификатор кнопки удаления
            var str = '<div class="row component align-items-center justify-content-between" id="' + idComp + '">' +
                '<div class="col-sm-4">' +
                    '<input type="hidden" id="' + idComp + 'IsDelete" name="Components[' + indComp + '].IsDelete" value="false" />' +
                    '<input type="hidden" name="Components[' + indComp + '].Section" value="' + currentSection + '" />' +
                    '<input class="form-control" type="text" name="Components[' + indComp + '].Type" readonly value="' + typeComp + '"/>' +
                    '<input class="form-control" type="text" name="Components[' + indComp + '].Name" placeholder="Название компоненты" />' +
                '</div>' +
                '<div class="col-sm-4">' +
                    '<textarea class="form-control" type="text" name="Components[' + indComp + '].Description" placeholder="Назначение" />' +
                '</div>' +
                '<div class="col-sm-3">' +
                    '<input class="form-check-input" type="checkbox" id="' + idComp + 'IsNecessary" name="Components[' + indComp + '].IsNecessary" value="false"/>' +
                    '<label class="form-check-label" for="checkboxIsNecessary">Обязательно к заполнению</label>' +
                '</div>' +
                '<div class="col-sm-1">' +
                '<button class="btn btn-sm btn-danger" id="' + idBtnDel + '" type="button" title="Удалить">' +
                    '<i class="fas fa-trash"></i>' +
                '</button></div></div >';
            $('#areaSection' + currentSection).append(str); // добавляем компоненту на форму
            $('#' + idComp + 'IsNecessary').on('click', function () { setCheckboxIsNecessary(idComp); });
            $('#' + idBtnDel).on('click', function () { deleteComponent(idComp); });
            indComp++;
        }

        function deleteComponent(componentId) { // удалить компоненту
            $('#' + componentId + 'IsDelete').val('true');
            $('#' + componentId).hide();
        }

        function setCheckboxIsNecessary(idComp) { // установить значение в чекбокс
            if ($('#' + idComp + 'IsNecessary').val() == 'false')
                $('#' + idComp + 'IsNecessary').val('true');
            else
                $('#' + idComp + 'IsNecessary').val('false');
        }

        function addSection(title) { // загрузка разделов на форму
            var indSec = indSection;
            var navSectionId = 'navSection' + indSec;
            var areaSectionId = 'areaSection' + indSec;
            var btnDelId = 'btnDelete' + areaSectionId;
            var str = '<li class="nav-item form-inline" id="' + navSectionId + '">' +
                '<input type="hidden" id="' + navSectionId + 'IsDelete" name="Sections[' + indSec + '].IsDelete" value="false"/>' +
                '<input type="hidden"  name="Sections[' + indSec + '].Name" value="' + title + '"/>' +
                '<a class="nav-link" data-toggle="tab" href="#' + areaSectionId + '">' + title + '</a>';
            if (indSec != 0) // нельзя удалить раздел итоговых результатов
            {
                str += '<button class="btn btn-sm btn-outline-secondary" id="' + btnDelId + '" type="button" title="Удалить">' +
                    '<i class="fas fa-times"></i>' +
                    '</button ></li>';
                $('#navSections').append(str); // загрузить раздел в меню
                $('#' + btnDelId).on('click', function () { deleteSection(indSec); });
            } else { // если это раздел итоговых результатов, то кнопки "удалить" не будет
                str += '</li>';
                $('#navSections').append(str); // загрузить раздел в меню
            }
            $('#' + navSectionId).on('click', function () { selectSection(indSec); });

            var str2 = '';
            if (indSec == 0) str2 = '<div class="tab-pane fade active show" id="' + areaSectionId + '"></div>';
            else str2 = '<div class="tab-pane fade" id="' + areaSectionId + '"></div>';
            $('#areaSections').append(str2); // загрузить раздел на форму
            indSection++;
        }

        function deleteSection(ind) {
            $('#navSection' + ind).hide();
            $('#areaSection' + ind).hide();
            $('#navSection' + ind + 'IsDelete').val(true);
        }

        (function () {
            $('#selectListDirections').append(loadListDirections(@Model.IdDirection));
            $('#selectListComponents').append(loadListComponents());
            // загружаем раздел итоговых результатов на форму
            addSection('Раздел итоговых результатов');
            $('#btnAddSection').on('click', function () { addSection('Какое то название');  });
            $('#btnAddComponent').on('click', function () { addComponent(); });
        })();
    </script>
}
