
@{
    ViewData["Title"] = "IdeaMenu";
    Layout = "~/Views/Account/AccountLayout.cshtml";
    @model IdeaMenuViewModel
}

    <div class=" row">
        <div class="col-10">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Drafts">
                    <ul class="cards clearfix">
                        @foreach (var x in Model.Drafts)
                        {
                            <li class="card-wrapper">
                                <div class="card" style="height: 640px;">
                                    @await Component.InvokeAsync("IdeaCard", new { vm = x })

                                    @using (Html.BeginForm("Edit", "Idea", FormMethod.Get))
                                    {
                                        <input type="hidden" name="IdIdea" value="@x.Id" />
                                        <button class="btn btn-primary card-btn-public" type="submit">
                                            Редактировать
                                        </button>
                                    }

                                    @using (Html.BeginForm("Delete", "Idea", FormMethod.Post))
                                    {
                                        <input type="hidden" name="IdeaId" value="@x.Id" />
                                        <button class="btn btn-primary card-btn-public" type="submit">
                                            Удалить
                                        </button>
                                    }

                                    @using (Html.BeginForm("SendToReview", "Idea", FormMethod.Post))
                                    {
                                        <input type="hidden" name="IdeaId" value="@x.Id" />
                                        <button class="btn btn-primary card-btn-public" type="submit">
                                            Отправить на модерацию
                                        </button>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="tab-pane fade" id="OnReviews">
                    <ul class="cards clearfix">
                        @foreach (var x in Model.OnReviews)
                        {
                            <li class="card-wrapper">
                                <div class="card" style="height: 480px;">
                                    @await Component.InvokeAsync("IdeaCard", new { vm = x })
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="tab-pane fade" id="Approves">
                    <ul class="cards clearfix">
                        @foreach (var x in Model.Approves)
                        {
                            <li class="card-wrapper">
                                <div class="card" style="height: 640px;">
                                    @await Component.InvokeAsync("IdeaCard", new { vm = x })

                                    @using (Html.BeginForm("Create", "Project", FormMethod.Get))
                                    {
                                        <input type="hidden" name="IdeaId" value="@x.Id" />
                                        <button class="btn btn-primary card-btn-public" type="submit">
                                            Опубликовать проект
                                        </button>
                                    }

                                    @using (Html.BeginForm("Delete", "Idea", FormMethod.Post))
                                    {
                                        <input type="hidden" name="IdeaId" value="@x.Id" />
                                        <button class="btn btn-primary card-btn-public" type="submit">
                                            Удалить
                                        </button>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="tab-pane fade" id="Rejects">
                    <ul class="cards clearfix">
                        @foreach (var x in Model.Rejects)
                        {
                            <li class="card-wrapper">
                                <div class="card" style="height: 640px;">
                                    @await Component.InvokeAsync("IdeaCard", new { vm = x })

                                    @using (Html.BeginForm("Delete", "Idea", FormMethod.Post))
                                    {
                                        <input type="hidden" name="IdeaId" value="@x.Id" />
                                        <button class="btn btn-primary card-btn-public" type="submit">
                                            Удалить
                                        </button>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                @if (User.IsInRole(UserStatusesNames.Expert))
                {
                    <div class="tab-pane fade" id="MyReviews">
                        <ul class="cards clearfix">
                            @foreach (var x in Model.MyReviews)
                            {
                                <li class="card-wrapper">
                                    <div class="card" style="height: 540px;">
                                        @await Component.InvokeAsync("IdeaCard", new { vm = x })

                                        @using (Html.BeginForm("Review", "Idea", FormMethod.Get))
                                        {
                                            <input type="hidden" name="IdeaId" value="@x.Id" />
                                            <button class="btn btn-primary card-btn-public" type="submit">
                                                Оценить
                                            </button>
                                        }

                                        @using (Html.BeginForm("CancelReview", "Idea", FormMethod.Post))
                                        {
                                            <input type="hidden" name="IdeaId" value="@x.Id" />
                                            <button class="btn btn-primary card-btn-public" type="submit">
                                                Отказаться
                                            </button>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="col-2">
            <div class="background">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#Drafts">Черновики </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#OnReviews">На модерации</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Approves">Утвержденные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Rejects">Отклоненные</a>
                    </li>
                    @if (User.IsInRole(UserStatusesNames.Expert))
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#MyReviews">Проверка Идей</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

