
@{
    ViewData["Title"] = "Карточка проекта";
    @model ProjectCardViewModel
}

<div>
    <h2>@Model.Name</h2>
    <div class="label-info">
        <h2>@Model.ProjectType</h2>
    </div>
    <div class="card-photo">
        @if (Model.Image == null)
        {
            <img src="~/imgs/project.jpg" alt="" />
        }
        else
        {
            <img src="@Url.Action("GetFile", "Project", new { id = Model.Image.Id, type = Model.Image.Type })" alt="" />
        }
        <form method="get" asp-action="Browse" asp-controller="Project">
            <input type="hidden" name="ProjectId" value="@Model.Id" />
            <button class="btn btn-primary card-btn-preview" type="submit">
                Просмотр проекта
            </button>
        </form>
    </div>
    <h3>Направленность - @Model.Direction</h3>
    <h3>Руководитель</h3> @await Component.InvokeAsync("AccountLink", new { UserId = Model.ManagerId })
</div>